* {
  color: black;
  padding: 0;
  margin: 0;
  text-decoration: none; }

html body {
  background-color: blue;
  position: absolute; }
  :host {
			font-family: "Helvetica Neue","Helvetica","Arial","sans-serif";
			width: 100%;
			display: -ms-flexbox;
			display: flex;
			-ms-flex-direction: column;
			flex-direction: column;

			--header-height: 50px;
			--row-height: 25px;
			--row-even-background-colour: #ffffff;
			--row-odd-background-colour: #f7f7f7;
		}

		.list-container {
			-ms-flex:1;
			flex:1;
			-ms-flex-preferred-size:0px;
			flex-basis:0px;
			-ms-flex-direction:column;
			flex-direction:column;
			display:-ms-flexbox;
			display:flex;
		}

		.list-header-container {
			position:relative;
			padding-right : var(--header-height); /* for the collapse button */
			background-color:#6a6066;
			height:var(--header-height);
			color:#e2e2e2;
			font-weight: 500;
			border-top: 1px solid #857a81;
			border-bottom: 1px solid #857a81;
		}

		#list-header-row {
			box-sizing:border-box;
			overflow:hidden;
			height:var(--header-height);
			line-height:var(--header-height); /* vertically centers the text */
			font-size: 0.9em;

			/* Disable text selection */
			-webkit-touch-callout: none; /* iOS Safari */
			-webkit-user-select: none;   /* Chrome/Safari/Opera */
			-moz-user-select: none;      /* Firefox */
			-ms-user-select: none;       /* Internet Explorer/Edge */
			user-select: none;           /* Non-prefixed version */
		}

		#list-body-container {
			-ms-flex:1;
			flex:1;
			-ms-flex-preferred-size:0px;
			flex-basis:0px;
			-ms-flex-direction:column;
			flex-direction:column;
			display:-ms-flexbox;
			display:flex;
			position:relative;
			font-size: 0.9em;

			background-size: 100% calc(var(--row-height) * 2);
			background-repeat : repeat-y;
			background-image : linear-gradient(
				var(--row-even-background-colour),
				var(--row-even-background-colour) 50%,
				var(--row-odd-background-colour) 50%,
				var(--row-odd-background-colour)
			);
		}

		.list-row {
			-ms-flex:1;
			flex:1;
			-ms-flex-preferred-size:0px;
			flex-basis:0px;
			-ms-flex-direction: row;
			flex-direction: row;
			height:var(--row-height);
			line-height:var(--row-height); /* vertically aligns the text */
			position:relative;
			display:-ms-flexbox;
			display:flex;
			font-weight: 400;

			/* override the css rules that will be set by the iron-list */
			width: auto !important;
			min-width:100%;
			box-sizing:border-box;
		}

		.list-row:focus {
			outline : none;
		}

		.list-row:not(#list-header-row)
		{
			padding-right: calc(var(--header-height) - 17px); /* collapse button width - scroll bar width */
		}

		.list-row[selected]
		{
			color:white;
			background-color:#635FC0;
		}

		iron-list {
			-ms-flex:1 1 0px;
			flex:1 1 0px;
			overflow: scroll !important;
			width:100%;
		}

		iron-list[loading] {
			display:block;
			-ms-flex-positive:0;
			flex-grow:0;
			height : 17px;/* only tall enough to render the scroll bar, since the scroll bar is shared with the header */
		}

	   .even-row {
	  		background-color: var(--row-even-background-colour);
	   }

	   .odd-row {
	   		background-color: var(--row-odd-background-colour);
	   }

		.list-cell {
			position:relative;
			box-sizing: border-box;
			-ms-flex-positive: 1;
			flex-grow: 1;
			min-width:100px;
			-ms-flex-preferred-size:150px;
			flex-basis:150px;
			height:100%;
		}

		.list-row.fixed > .list-cell {
			-ms-flex: 0 0 auto;
			flex: 0 0 auto;
		}

		.list-cell-text {
			position: absolute;
			display:block;
			box-sizing:border-box;
			min-width:100px;
			width:100%;
			overflow:hidden;
			text-overflow : ellipsis;
			white-space : nowrap;
			text-align : left;
			padding-left:12px;
			padding-right:12px;
			height:100%;
		}

		.header-cell {
			border-right : 1px solid #857a81;
			--resizable-handle : {
				width:16px;
				right:-8px;
			}
		}

		.header-cell-text {
			position:relative;
			text-align : center; /* horizontally centers the text */
			padding-left:0px;
			padding-right:0px;
		}

		#collapse-button-container {
			width:var(--header-height);
			height:var(--header-height);
			background-color: #585055;
			position:absolute;
			top:0;
			right:0;
			display: -ms-flexbox;
			display: flex;
			-ms-flex-direction: column;
			flex-direction: column;
			-ms-flex-align: center;
			align-items: center;
  			-ms-flex-pack: center;
  			justify-content: center;
			box-sizing: border-box;
			font-size: 0.75em;
			cursor: pointer;
			z-index:91; /* needs to be greater than 90 to cover the handle created by the header cells rc-resizeable-behaviour */
		}

		#collapse-button-image {
			width:15px;
			display:block;
		}

		#collapse-button-text {
			margin-top: 3px;
		}

		#list-header-row-minimized
		{
			display: -ms-flexbox;
			display: flex;
			-ms-flex-align: center;
			align-items: center;
			height: var(--header-height);
		}

		#list-image {
			height:20px;
			width:20px;
			margin: 0px 15px;
		}

		#loadingIndicator {
		   	-ms-flex: 1;
		   	flex: 1;
		   	display: -ms-flexbox;
		   	display: flex;
		   	-ms-flex-align: center;
		   	align-items: center;
  			-ms-flex-pack: center;
  			justify-content: center;
		}

		#tooltip
		{
            z-index:100;
		}
